In [1]:
#Import Packages 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("white")

In [5]:
drop_out_raw_df = pd.read_csv("rs_session243_au570_1.1.csv")

In [8]:
drop_out_raw_df.columns

Index(['Sl. No.', 'Level of Education - State', 'Primary - 2012-2013',
       'Primary - 2014-2015', 'Primary - 2014-2015.1',
       'Upper Primary - 2012-2013', 'Upper Primary - 2013-2014',
       'Upper Primary - 2014-2015', 'Secondary - 2012-2013',
       'Secondary - 2013-2014', 'Secondary - 2014-2015',
       'Senior Secondary - 2012-2013', 'Senior Secondary - 2013-2014',
       'Senior Secondary - 2014-2015'],
      dtype='object')

In [12]:
drop_out_raw_df.drop(['Sl. No.','Primary - 2012-2013','Primary - 2014-2015.1','Upper Primary - 2012-2013', 'Upper Primary - 2013-2014','Secondary - 2013-2014', 'Secondary - 2014-2015','Senior Secondary - 2012-2013', 'Senior Secondary - 2013-2014', 
       'Senior Secondary - 2014-2015'], axis=1, inplace = True)

In [13]:
drop_out_raw_df

,Level of Education - State,Primary - 2014-2015,Upper Primary - 2014-2015,Secondary - 2012-2013
0,A & N Islands,1.21,1.69,5.56
1,Andhra Pradesh,4.35,5.20,12.72
2,Arunachal Pradesh,10.89,6.71,12.93
3,Assam,7.44,10.51,26.77
4,Bihar,2.09,4.08,30.14
5,Chandigarh,NaN,0.44,NaN
6,Chhatisgarh,1.42,5.85,14.86
7,Dadra & Nagar Haveli,1.57,4.02,24.41
8,Daman & Diu,0.85,3.11,11.52
9,Delhi,NaN,0.76,5.32
10,Goa,0.20,0.07,7.96
11,Gujarat,0.76,6.41,13.55
12,Haryana,0.41,5.81,8.98
13,Himachal Pradesh,0.46,0.87,8.37
14,Jammu and Kashmir,5.46,5.44,17.33
15,Jharkhand,6.41,8.99,18.50
16,Karnataka,2.32,3.85,39.92
17,Kerala,NaN,NaN,9.45
18,Lakshadweep,NaN,2.78,7.68
19,Madhya Pradesh,10.14,9.20,13.63
20,Maharashtra,0.55,1.79,16.20
21,Manipur,18.00,4.20,9.75
22,Meghalaya,10.34,6.52,26.03
23,Mizoram,12.96,4.78,21.42
24,Nagaland,19.41,7.92,26.51
25,Odisha,2.94,3.81,49.86
26,Puducherry,0.66,0.56,15.21
27,Punjab,1.29,3.22,9.80
28,Rajasthan,8.39,3.07,13.65
29,Sikkim,4.57,1.57,9.23
30,Tamil Nadu,0.46,NaN,10.20
31,Telangana,5.81,2.30,NaN
32,Tripura,3.58,1.99,25.50
33,Uttar Pradesh,7.08,2.70,NaN
34,Uttrakhand,3.07,1.19,9.68
35,West Bengal,2.91,4.30,17.30
36,All India,4.34,4.03,14.54